.ng-invalid.ng-dirty{
    border-color: red !important;
}

.ng-valid.ng-dirty{
    border-color: green !important;
}

.likeDislike span{
    //position: relative;
    //margin-right: 5px;
}

.btnValid{

}

.btnInvalid{
    background-color: darkgray !important;
    border-color: darkgray !important;
    cursor: default !important;
}