.ng-invalid.ng-dirty{
    border-color: red !important;
}

.ng-valid.ng-dirty{
    border-color: green !important;
}

.likeDislike img{
    position: relative;
    //width: 18px;
    height: 18px;
    image-resolution: snap;
    margin-right: 5px;
}

.btnValid{

}

.btnInvalid{
    background-color: darkgray !important;
    border-color: darkgray !important;
    cursor: default !important;
}